<IfModule mod_rewrite.c>
  RewriteEngine On

  # Set the RewriteBase to / since this .htaccess is in the document root
  # for the domain/subdomain being served.
  RewriteBase /

  # Add MIME types
  <IfModule mod_mime.c>
    AddType application/javascript .js
    AddType text/css .css
  </IfModule>

  # Don't rewrite if the request is for an existing file
  RewriteCond %{REQUEST_FILENAME} !-f
  # Don't rewrite if the request is for an existing directory
  RewriteCond %{REQUEST_FILENAME} !-d
  # Route all other requests to index.html
  RewriteRule . /index.html [L]
</IfModule>